<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/blog/blog.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <main>
      <header>
        <section class="blog-page">
          <div>
            <h1>Blog</h1>
          </div>
        </section>
      </header>
      <section>
        <div style="
            display: flex;
            flex-direction: row;
            flex-basis: content;
            flex-wrap: wrap;
            justify-content: center;
            flex: 1;
          ">
          <section class="card-blog main-content">
            <%- blogHtml %>
              <button class="comment-button">Comment</button>
              <section class="comment-card">
                <h3>Comments</h3>
                <div class="comments">
                  <ul style="list-style: none;">
                    <% for(const comment of comments) { %>
                      <li>
                        <%= comment.commenter %>: <%= comment.text %>
                      </li>
                      <% } %>
                  </ul>
                </div>
              </section>
          </section>

          <section class="card-bloglist">
            <img src="/assets/images/blog/triangledown.png" />
            <h1>Articles</h1>
            <ul>
              <% for (const article of allPosts) { %>
                <li class="article-post">
                  <a href="/blog/<%= article.post_id %>">
                    <%= article.title %>
                  </a>
                </li>
                <% } %>
            </ul>
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>