<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/blog/blog.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <main>
      <header>
        <section class="blog-page">
          <div>
            <h1>
              <span class="purple">Go</span><span class="white">Live</span>
              <span class="purple">Web</span><span class="white">Dev</span> Blog
            </h1>
            <p>Put a little blub here.</p>
          </div>
        </section>
      </header id="header-end">
      <section>
        <div
          style="display: flex; flex-direction: row; flex-basis: content; flex-wrap: wrap; justify-content: center; flex:1;">
          <section class="card-blog">
            <%- blogHtml %>
              <button class="comment-button">Comment</button>
          </section>

          <section class="card-bloglist">
            <img src="/assets/images/home/servers2.png" />
            <h2>Articles</h2>
            <ul>
              <% for (const article of allPosts) { %>
                <li><a class="article-post" href="/blog/<%= article.post_id %>">
                    <%= article.title %>
                  </a></li>
                <% } %>
            </ul>
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>