<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/blog/blog.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <main>
      <header>
        <section class="blog-page">
          <div>
            <h1>Blog</h1>
          </div>
        </section>
      </header>
      <section>
        <div style="
            display: flex;
            flex-direction: row;
            flex-basis: content;
            flex-wrap: wrap;
            justify-content: center;
            flex: 1;
          ">
          <section class="card-blog main-content">
            <%- blogHtml %>
              <hr>
              <div class="comments">
                <h2>Comments</h2>

                <% if (comments.length !==0) { %>
                  <label for="comment">Comment below</label>
                  <textarea name="comment" id="comment-text" cols="30" rows="3"></textarea>
                  <button class="comment-button">Add Comment</button>

                  <ul style="list-style: none;">
                    <% for(const comment of comments) { %>
                      <li>
                        <%= comment.commenter %>: <%= comment.text %>
                      </li>
                      <% } %>
                  </ul>
                  <% } else { %>
                    <label for="comment">No comments yet, be the first to say something!</label>
                    <input name="comment" id="comment-text" />
                    <button class="comment-button">Add Comment</button>
                    <% } %>
              </div>
          </section>

          <section class="card-bloglist">
            <img src="/assets/images/blog/triangledown.png" />
            <h2>Articles</h2>
            <ul>
              <% for (const article of allPosts) { %>
                <li class="article-post">
                  <a href="/blog/<%= article.post_id %>">
                    <%= article.title %>
                  </a>
                </li>
                <% } %>
            </ul>
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>