<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/blog/blog.css" />
    <script>
      var postId = Number('<%= postId %>');
      var username = '<%= user.username %>';
    </script>
    <script defer src="/assets/js/blog.js"></script>
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <%- include('templates/modal.ejs') %>

      <main>
        <header>
          <section class="blog-page">
            <div>
              <h1>Blog</h1>
            </div>
          </section>
        </header>
        <section>
          <div style="
            display: flex;
            flex-direction: row;
            flex-basis: content;
            flex-wrap: wrap;
            justify-content: center;
            flex: 1;
          ">
            <section class="card-blog main-content">
              <%- blogHtml %>
                <hr>
                <div class="comments">
                  <h2>Comments</h2>

                  <ul id="comments-box" style="list-style: none;">
                    <% for(const comment of comments) { %>
                      <li>
                        <div class="comment-header">
                          <div class="username">
                            <%= comment.username %>
                          </div>
                          <div class="date">
                            <%= comment.created_date.toLocaleDateString('en-US') %>
                          </div>
                        </div>
                        <div class="text">
                          <%= comment.text %>
                        </div>
                      </li>
                      <% } %>
                  </ul>

                  <form method="POST" id="comment-form">
                    <% if (comments.length===0) { %>
                      <label for="comment">No comments yet, be the first to say something!</label>
                      <% } else { %>
                        <label for="comment">Add your thoughts!</label>
                        <% } %>
                          <textarea required minlength="1" maxlength="1999" style="width: 100%;" rows="4" name="comment"
                            id="comment-text"></textarea>
                          <input type="submit" id="submit-comment" value="Add Comment" class="comment-button" />
                  </form>
                </div>
            </section>

            <section class="card-bloglist">
              <img src="/assets/images/blog/triangledown.png" />
              <h2>Articles</h2>
              <ul>
                <% for (const article of allPosts) { %>
                  <li class="article-post">
                    <a href="/blog/<%= article.post_id %>">
                      <%= article.title %>
                    </a>
                  </li>
                  <% } %>
              </ul>
            </section>
          </div>
        </section>
      </main>
      <%- include('templates/footer.ejs') %>
</body>

</html>